footer
    .row
        .col-md-6.offset-md-3
            .row
                .col
                    p Facebook
                .col
                    p Instragram
                .col
                    p Youtube
            .row
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium doloremque, quo inventore quisquam suscipit omnis necessitatibus voluptas, vitae temporibus quos mollitia magni laudantium repudiandae aspernatur, reiciendis autem eum dicta!
                p www.blog.com.mx